/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font */

@font-face {
    font-family: "Lastik";
    src:
        local("Lastik"),
        url("fonts/Lastik-Regular.otf") format("opentype");
}

/* Variables */

:root {
    /* Colors */
    --color-orange: rgb(255, 187, 0);
    --color-purple: #c26dff;
    --color-white: rgb(241, 240, 238);
    --color-black: rgb(26, 26, 26);

    /* Padding */
    --padding-default: 20px;
    --padding-small: 10px;
    --padding-big: 150px;

    /* Border Radius */
    --border-radius-default: var(--padding-default);

    /* Content Width */
    --content-width: min(400px, 100vw, 100vh);

    /* Fonts */
    --font-serif: Lastik, sans-serif;
    --font-accent: "roc-grotesk-extrawide", sans-serif;

    --font-size-base: 16px;

    /* Transitions */
    --easing-bounce: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    --transition-bounce: all 0.2s var(--easing-bounce);
}

/* Body & HTML */

html,
body {
    width: 100%;
    height: 100%;
    background: var(--color-orange);
    font-family: var(--font-serif);
    font-size: var(--font-size-base);
}

/* Headlines */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/* Intro */

header {}

#logo h1 {
    width: 100%;
    height: 100px;
    font-size: 100px;
    text-align: center;
    font-family: var(--font-accent);
    text-transform: uppercase;
    line-height: 100px;
    vertical-align: bottom;
    color: var(--color-purple);
}

#playground-wrapper {
    width: 100vw;
    height: calc(100vh - 100px);
    padding: var(--padding-default);
}

#playground {
    width: 100%;
    height: 100%;
    background: url(https://images.unsplash.com/photo-1589496933738-f5c27bc146e3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1287&q=80);
    background-size: cover;
    border-radius: var(--border-radius-default);
}

/* Projects */

#projects {
    background: var(--color-white);
    padding-top: var(--padding-big);
    padding-bottom: var(--padding-big);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    -skrollr-animation-name: projects-scale;
}

@-skrollr-keyframes projects-scale {
    100-top {
        width: calc(100% - 40px);
        border-radius: 20px;
    }

    0-top {
        width: calc(100% - 0px);
        border-radius: 0px;
    }

    0-bottom {
        width: calc(100% - 0px);
        border-radius: 0px;
    }

    -100-bottom {
        width: calc(100% - 40px);
        border-radius: 20px;
    }
}

#project-grid {}

.project {
    display: grid;
    grid-template-columns: 1fr var(--content-width) 1fr;
    margin-bottom: var(--padding-big);
}

.project:last-child {
    margin-bottom: 0;
}

.project .swiper-slide {
    width: var(--content-width);
    background: white;
    aspect-ratio: 9 / 16;
    border-radius: var(--padding-small);
}

.project-long-text {
    padding: var(--padding-default);
    overflow-y: auto !important;
    line-height: 1.4em;
}

.project-title {
    margin-top: var(--padding-default);
    margin-bottom: var(--padding-small);
    display: grid;
    grid-template-columns: 1fr 40px;
}

.project-title>* {
    vertical-align: bottom;
}

.project-title h3 {
    font-size: 2em;
}

.project-title .year {
    text-align: right;
}

.tag {
    display: inline-block;
    border: 1px solid var(--color-black);
    margin-right: 5px;
    padding: 0 5px;
    border-radius: 2px;
}

.tag:last-child {
    margin-right: 0;
}

/* Swiper */

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, -70px);
    left: auto;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, -70px);
    right: auto;
}

.swiper-button-next,
.swiper-button-prev {}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: var(--font-accent);
    text-transform: uppercase !important;
    font-size: var(--font-size-base);
    color: var(--color-black);
    transition: var(--transition-bounce);
    letter-spacing: 1px;
}

.swiper-button-next:hover:after {
    transform: rotate(-25deg);
}

.swiper-button-prev:hover:after {
    transform: rotate(25deg);
}

/* Footer */

footer {
    height: 100vh;
}